.create-name-field {
  margin-left: 90px;
  width: 720px;
  height: 150px;
}

.create-dataset-field {
  margin-left: 90px;
  width: 720px;
  height: 250px;
}

.create-button-field {
  margin-left: 90px;
  width: 720px;
  height: 100px;
}

.create-button-position {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 100%;
}

.delet-button-field {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 20px;
  right: 20px;
}