/* main */

.projectlist-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(249.81deg, rgba(0, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 35%, rgba(146, 229, 255, 0) 66%, rgba(0, 240, 255, 0.4) 100%), radial-gradient(98.31% 179.05% at 0% 3.12%, #E18FFF 2.5%, #C190FF 21%, #3491FF 53%, #8690FF 78.5%, #E18FFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
}

.create-background-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.test {
  position: absolute;
  top: 0;
  width: 1528px;
  height: 10px;
  background-color: black;
}

/* ImageProjectField */

.imageprojectfield-wrapper {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  /* gap: 10px; */
  width: 100%;
  height: 100%;
  padding: 40px;
}

/* ImageProjectIcon */

.ImageProjectIcon-wrapper {
  width: 100%;
  height: 100%;
}

.titlefeild-wrapper {
  width: 250px;
  height: 55px;
}

.project-title {
  display: flex;
}

.projecttitle-wrapper {
  height: 52px;
  width: 205px;
  margin-left: 8px;
}

.projecttitle-wrapper p {
  line-height: 52px;
  font-weight: 500;
  font-size: 25px;
  color: #676767;
}

.rename-icon {
  display: flex;
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
  height: 52px; /* 親要素の高さいっぱいに拡張 */
  margin-left: 5px;
}

.edit-svg {
  fill: #9D9EFF;
}

.projecttitle-line {
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #C39DFF, #459FFF), #E5E5E5;
}

.projectimages-wrapper {
  display: flex;
  width: 240px;
  height: 150px;
  margin: 15px 5px 0px 5px;
}

.big-image {
  margin-left: 5px;
}

.small-image {
  margin-left: 10px;
}

.is-first {
  margin-bottom: 10px;
}

/* ImageProjectAdd */

.ImageProjectAdd-wrapper {
  position: relative;
  width: 271px;
  height: 241px;
  border-radius: 25px;
  border: 4px dotted #489CFF;
}

.add-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #489CFF;
}

/* CreateBackground */

.create-background-wrapper {
  /* display: inline-block; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.create-background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: linear-gradient(249.81deg, rgba(0, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 35%, rgba(146, 229, 255, 0) 66%, rgba(0, 240, 255, 0.4) 100%), radial-gradient(98.31% 179.05% at 0% 3.12%, #E18FFF 2.5%, #C190FF 21%, #3491FF 53%, #8690FF 78.5%, #E18FFF 100%)
}

/* CreateField */

.create-name-field {
  margin-left: 90px;
  width: 720px;
  height: 150px;
}

.create-dataset-field {
  margin-left: 90px;
  width: 720px;
  height: 250px;
}

.create-button-field {
  margin-left: 90px;
  width: 720px;
  height: 100px;
}

.create-button-position {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 100%;
}

.delet-button-field {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 20px;
  right: 20px;
}

.project-name-field {
  margin: 0 30px 10px 30px;
}

.project-name-field p {
  color: #676767;
  font-size: 45px;
  font-weight: 500;
}


.create-dataset-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 120px;
  margin-left: 80px;
  margin-top: 20px;
  border-radius: 13px;
  border: 3px dotted #489CFF;
}

.create-dataset-upload p {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}

.create-dataset-upload-name {
  margin-left: 80px;
}

.create-dataset-upload-name p {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.delet-svg {
  fill: #9D9EFF;
}