.model-field-header-wrapper {
  display: flex;
  width: 100%;
  height: 45px;
  border-bottom: 3px solid #DDDDDD;
}

.model-field-header-wrapper p {
  font-size: 20px;
  color: #575757;
}

.model-name-div {
  display: flex;
  align-items: center;
  width: calc(100% - 530px);
  padding-left: 80px;
}

.model-name-div p {
  text-align: center;
}

.model-accuracy-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
}

.model-accuracy-div p {
  text-align: center;
}

.model-loss-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.model-loss-div p {
  text-align: center;
}

.model-date-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.model-date-div p {
  text-align: center;
}

.model-delet-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}