.bugerbutton-wrapper {
  position: relative;
  width: 50px;
  /* height: 50px; */
  margin: 10px 40px 10px 25px;
}

.bugerbutton-wrapper span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: white;
}

.bugerbutton-wrapper span:nth-of-type(1) {
  top: 5px;
}

.bugerbutton-wrapper span:nth-of-type(2) {
  top: 20px;
}

.bugerbutton-wrapper span:nth-of-type(3) {
  top: 35px;
}