.rename-icon {
  display: flex;
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
  height: 52px; /* 親要素の高さいっぱいに拡張 */
  margin-left: 5px;
}


.edit-svg {
  fill: #9D9EFF;
}