.login-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.login-title-wrapper p {
  font-size: 30px;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}