.menu-field {
  position: absolute;
  height: 100vh;
  width: 380px;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
  z-index: 10;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 0px;
  box-sizing: border-box;
  transition: transform 0.25s ease-in-out;
}

.menu-field.hidden {
  transform: translateX(-100%);
}

.menu-field-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(249.81deg, rgba(0, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 35%, rgba(146, 229, 255, 0) 66%, rgba(0, 240, 255, 0.4) 100%), radial-gradient(98.31% 179.05% at 0% 3.12%, #E18FFF 2.5%, #C190FF 21%, #3491FF 53%, #8690FF 78.5%, #E18FFF 100%), #FFFFFF;
  opacity: 0.3;
  z-index: 0;
}

.menu-field-inner {
  height: calc(100% - 84px);
  width: calc(100% - 17px);
  margin: 5px 5px 5px 0;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-sizing: border-box;
}

.menu-field::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
  border-top-right-radius: 40px;
}

.menu-list-wrapper {
  overflow: auto;
  margin-top: 70px;
  margin-left: 35px;
}

.menu-list-wrapper p {
  margin-bottom: 10px;
  font-size: 25px;
  color: black;
  font-weight: 600;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-icon {
  fill: #4B4B4B;
  margin-right: 15px;
  width: 30px !important;
  height: 30px !important;
}

.menu-text {
  margin: 15px;
  line-height: 30px;
}