.project-model-name-wrapper {
  position: absolute;
  width: 400px;
  height: 35px;
  right: 100px;
  margin-top: 15px;
  overflow: hidden;
}

.project-model-name-wrapper p {
  font-size: 25px;
  color: white;
  font-weight: 400;
}