/* main */

.mct-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(249.81deg, rgba(0, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 35%, rgba(146, 229, 255, 0) 66%, rgba(0, 240, 255, 0.4) 100%), radial-gradient(98.31% 179.05% at 0% 3.12%, #E18FFF 2.5%, #C190FF 21%, #3491FF 53%, #8690FF 78.5%, #E18FFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
}

/* ScreenField */

.screen-field-wrapper {
  display: flex;
  width: calc(100% - 20px);
  height: calc(100vh - 75px);
  margin: 0px 10px 10px 10px;
}

.left-screen {
  width: calc(100% - 610px);
}

.right-screen {
  margin-left: 10px;
  width: 600px;
}

.top-screen {
  margin-bottom: 10px;
  height: calc(50% - 5px);
}

.bottom-screen {
  height: calc(50% - 5px);
}

/* EditScreen */

.edit-screen-wrapper {
  /* position: relative; */
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: auto;
}

/* InputField */

.input-field-wrapper {
  width: 400px;
  height: 150px;
}

.input-tile-position {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 50px;
}

/* ConvField */

.tile-add-button-over-wrapper {
  margin-left: 60px;
  width: 580px;
}

/* FlattenField */

.flatten-field-wrapper {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* MiddleField */

.middle-field-wrapper {
  /* width: calc(100% - 50px); */
  margin-left: 50px;
}

/* MiddleTileField */

.middle-tile-field-wrapper {
  position: relative;
  display: flex;
  width: 650px;
  /* height: 130px; */
}

.tile-position-wrapper {
  width: 100%;
  margin-left: 60px;
}

.tile-add-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
}

.tile-add-button {
  width: 30px;
  height: 30px;
  fill: #D57CDD;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.tile-add-button-wrapper:hover .tile-add-button {
  visibility: visible;
  opacity: 1;
}

.delete-tile {
  position: absolute;
  z-index: 0;
  height: 80px;
  width: 120px;
  /* background-color: black; */
}

.delete-tile .delete-button-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.delete-tile .delete-button-wrapper .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  position: absolute;
  right: 0;
  height: 80px;
  width: 50px;
  border-radius: 10px;
  background-color: #FF7272;
  opacity: 0;
}

.delete-tile .delete-button-wrapper:hover .delete-button {
  cursor: pointer;
  right: 55%;
  opacity: 1;
  transition: right 0.5s ease, opacity 1s ease;
}

.delete-tile .delete-button-wrapper .delete-button .delet-svg {
  fill: white;
  width: 35px;
  height: 35px;
}

/* TileAddModal */

.tile-add-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(249.81deg, rgba(0, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 35%, rgba(146, 229, 255, 0) 66%, rgba(0, 240, 255, 0.4) 100%), radial-gradient(98.31% 179.05% at 0% 3.12%, #E18FFF 2.5%, #C190FF 21%, #3491FF 53%, #8690FF 78.5%, #E18FFF 100%), #FFFFFF;
  opacity: 0.3;
  z-index: 100;
}

.tile-add-field-wrapper {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile-add-field {
  position: relative;
  width: 830px;
  height: 400px;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.gradation-border2-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradation-border2 {
  width: 700px;
  margin-top: 10px;
  height: 3px;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
  box-shadow: none;
}

.modal-tile-field {
  margin: 20px;
  margin-top: 40px;
  margin-left: 50px;
  max-height: 300px;
  width: 740px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0px;
  overflow: auto;
}



.modal-tile-field .modal-tile-wrapper {
  height: 80px;
  margin-bottom: 40px;
}

.layer-add-modal-delet-button-field {
  position: absolute;
  right: 0px;
  top: -15px;
}

.layer-add-modal-delet-button-field .delet-svg {
  width: 55px;
  height: 55px;
}



/* OutPutField */

.output-field-wrapper {
  /* background-color: black; */
  width: 400px;
  height: 150px;
}

.output-tile-position {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 50px;
}

/* DataScreen */

.data-screen-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: auto;
}

.image-title-wrapper {
  margin-top: 10px;
  margin-left: 20px;
}

.image-title-wrapper p {
  font-size: 25px;
  font-weight: 600;
  color: #828282;
}

.image-data-wrapper {
  margin-top: 30px;
  display: flex;
}

.image-data-wrapper .image-before-data {
  margin-left: 20px;
  width: 250px;
  height: 250px;
  background-color: #C8C9DD;
}

.image-data-wrapper .image-arrow {
  width: 60px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-data-wrapper .image-arrow p {
  font-size: 40px;
  color: #B0D7FF;
}

.image-data-wrapper .image-after-data {
  width: 250px;
  height: 250px;
  background-color: #C8C9DD;
}

.image-status-wrapper {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  color: #828282;
}

.image-status-wrapper .image-before {
  width: 250px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-status-wrapper .image-after {
  width: 250px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* EditTileParameterField */

.edit-tile-parameter-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
}

.edit-tile-field {
  height: 100%;
  text-align: center;
  padding-top: 20px;
  overflow: auto;
}

/* ErrorModal */

.error-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(249.81deg, rgba(0, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 35%, rgba(146, 229, 255, 0) 66%, rgba(0, 240, 255, 0.4) 100%), radial-gradient(98.31% 179.05% at 0% 3.12%, #FF8FD2 2.5%, #FF9096 21%, #FF3434 53%, #FF8686 78.5%, #FF8FD2 100%), #FFFFFF;
  opacity: 0.6;
  z-index: 100;
}

.error-field-wrapper {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 830px;
  height: 400px;
  background-color: white;
  border-radius: 25px;
  border: solid 3px #FF459E;
}

.error-field-wrapper .modal-title {
  height: 80px;
}

.error-field-wrapper .modal-title p {
  font-size: 48px;
  font-weight: 600;
  background: linear-gradient(91.27deg, #FF9EB5 0.37%, #FF4747 99.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.error-field-wrapper .error-comment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  height: 120px;
}

.error-field-wrapper .error-comment-wrapper .error-comment-field {
  height: 100%;
  width: 700px;
  font-size: 28px;
  color: #676767;
  font-weight: 600;
}

.error-field-wrapper .error-comment-wrapper .error-comment-field p {
  text-align: center;
}

.error-field-wrapper .error-comment-wrapper .error-comment-field p span {
  color: #FF4747;
}

.error-field-wrapper .gradation-border2 {
  height: 5px;
  background: linear-gradient(91.27deg, #FF9EF5 0.37%, #FF4672 99.56%);
}

.error-field-wrapper .error-model-button-field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


/* TrainModal */

.train-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(249.81deg, rgba(0, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 35%, rgba(146, 229, 255, 0) 66%, rgba(0, 240, 255, 0.4) 100%), radial-gradient(98.31% 179.05% at 0% 3.12%, #E18FFF 2.5%, #C190FF 21%, #3491FF 53%, #8690FF 78.5%, #E18FFF 100%), #FFFFFF;
  opacity: 0.3;
  z-index: 100;
}

.train-modal-field {
  height: 200px;
}

.train-modal {
  margin: 10px;
  margin-top: 20px;
  margin-left: 20px;
  height: 100px;
  width: 710px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.train-modal-delet-button-field {
  position: absolute;
  right: 15px;
  top: 10px;
}

/* InfoModal */

.info-modal-wrapper {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 830px;
  height: 400px;
  background-color: white;
  border-radius: 25px;
  border: solid 3px #e3ff45;
  perspective: 1000px;
}

.tile {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateZ(45deg) rotateY(45deg) rotateX(40deg);
  animation: rotate 3s linear infinite;
  position: relative;
}

.tile div {
  position: absolute;
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  opacity: 0.9;
}

.tile .right,
.tile .left {
  width: 10px;  /* 新しい厚み */
  height: 100px;
}

.tile .top,
.tile .bottom {
  width: 100px;
  height: 10px;  /* 新しい厚み */
}

.tile .front { 
  transform: rotateY(0deg) translateZ(5px);
}
.tile .back {
  transform: rotateY(180deg) translateZ(5px);
}
.tile .right {
  transform: rotateY(90deg) translateZ(95px);
  background: linear-gradient(45deg, #4c4c4c 0%, #565454 99%, #565554 100%);
}
.tile .left {
  transform: rotateY(-90deg) translateZ(5px);
  background: linear-gradient(45deg, #4c4c4c 0%, #565454 99%, #565554 100%);
}
.tile .top {
  transform: rotateX(90deg) translateZ(5px);
  background: linear-gradient(45deg, #4c4c4c 0%, #565454 99%, #565554 100%);
}
.tile .bottom {
  transform: rotateX(-90deg) translateZ(95px);
  background: linear-gradient(45deg, #4c4c4c 0%, #565454 99%, #565554 100%);
}

@keyframes rotate {
  0% {
    transform: rotateZ(45deg) rotateX(0deg);
  }
  100% {
    transform: rotateZ(45deg) rotateX(360deg);
  }
}