/* main */

.community-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
}

/* ProjectActivatie */

.project-activate-wrapper {
  display: flex;
  width: 100%;
  margin-top: 130px;
  margin-bottom: 100px;
  padding: 10px 60px;
}

.activate-left {
  width: 50%;
  position: relative;
}

.activate-info-field .activate-project-title {
  font-size: 60px;
  padding-top: 10px;
  font-weight: 700;
  color: #00906E;
}

.activate-info-field .activate-project-info {
  font-size: 20px;
  font-weight: 600;
}

.activate-button-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.activate-right {
  width: 50%;
}

/* ProjectHeader */

.project-header {
  position: relative;
}

.project-header-wrapper {
  display: flex;
}

.project-header-item {
  width: 25%;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #D9D9D9;
  border-bottom: none;
}

.project-header-item p {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-header-bottom {
  position: absolute;
  top: 50px;
  z-index: -1;
  width: 100%;
  height: 4px;
  background-color: #17A277;
}

/* ProjectOverview */

.project-overview-wrapper {
  padding: 40px 60px;
}

.overview-wrapper {
  margin-bottom: 40px;
}

.overview-wrapper .overview-title {
  font-size: 28px;
  font-weight: 600;
  color: #17A277;
}

.overview-wrapper .overview-info {
  padding-left: 40px;
  padding-top: 13px;
  font-weight: 600;
}

/* ProjectPreview */

.preview-wrapper {
  margin: 60px;
}

.preview-config-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.preview-config-field {
  display: flex;
}

.preview-config-field p {
  font-size: 25px;
  padding-left: 30px;
  padding-right: 20px;
  color: #868686;
  font-weight: 500;
}

.preview-config-field select {
  width: 230px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.preview-config-field input {
  text-align: center;
  font-size: 20px;
  /* padding: 10px; */
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 30px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.search-icon {
  fill: white;
}

.preview-image-field {
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
  height: 100px;
}

/* PreviewImage */

.preview-image-wrapper {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #D9D9D9;
}

/* ProjectDiscussion */

.project-discussion-wrapper {
  margin: 60px;
}

.discussion-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: ce;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 40px;
  height: 50px;
}

.discussion-search {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  height: 50px;
}

.input-field input {
  width: 500px;
  height: 46px;
  border: none;
  padding-left: 30px;
}

.input-field input:focus {
  outline: none;
}

.input-field {
  display: flex;
  margin-right: 30px;
  height: 50px;
  border: 2px solid #D9D9D9;
}

.search-field {
  display: flex;
  height: 46px;
  justify-content: center;
  align-items: center;
}

.post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 130px;
  background-color: #55C470;
  border-radius: 10px;
}

.post-button p {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-right: 5px;
}

.edit-icon {
  fill: white;
}

/* DiscussionTile */

.discussion-tile-wrapper {
  background-color: #D9D9D9;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.discussion-tile-wrapper p {
  font-size: 30px;
  font-weight: 600;
  color: #868686;
}

/* Discussion */

.wrapper-out {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.discussion-wrapper {
  width: 700px;
}

.discussion-title-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.discussion-title-wrapper .title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 50px;
  background-color: #D9D9D9;
  margin-right: 10px;
  border-radius: 10px;
}

.discussion-title-wrapper .title-box p {
  font-size: 25px;
  font-weight: 600;
  color: #868686;
}

.discussion-title-wrapper .delet-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #FF7272;
  border-radius: 10px;
}

.discussion-title-wrapper .delet-box .delet-icon {
  fill: white;
}

.discussion-wrapper input {
  width: 100%;
}

.title-input-wrapper {
  margin-bottom: 30px;
}

.title-input-wrapper input {
  height: 45px;
  padding-left: 20px;
  color: #D9D9D9;
  font-size: 18px;
}

.contents-wrapper {
  margin-bottom: 30px;
}

.contents-wrapper textarea {
  height: 300px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: #D9D9D9;
  font-size: 18px;
}

.post-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}