.top-wrapper {
  /* height: 200vh; */
  /* test */
}

.top-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
}

/* Explanation */

.explanation-wrapper {
  /* width: 100%; */
  display: flex;
  height: 550px;
  margin-top: 65px;
  padding: 10px 60px;
}
.exp-left {
  position: relative;
}

.exp-left .first-p {
  font-size: 50px;
}

.exp-left .second-p {
  padding-top: 10px;
  font-size: 25px;
  font-weight: 600;
}

.exp-left .button-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.exp-right .DL-image {
  width: 600px;
  height: 550px;
}

/* Recommend */
.recommend-wrapper {
  margin-top: 50px;
  padding: 0px 60px;
}

.recommend-wrapper .recommend-comment {
  width: 100%;
}

.recommend-wrapper .recommend-comment p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.icon-wrapper {
  display: flex;

}

.icon-wrapper .recommend-icon {
  position: relative;
  width: calc((100% - 120px) / 3);
  border-radius: 50%;
  margin: 50px 30px;
  background-color: #D9D9D9;
}

.icon-wrapper .recommend-icon p {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
}

/* ProjectRecommend */

.project-recommend-wrapper {
  margin: 50px 50px;
}

.project-recommend-title {
  width: 100%;
}

.project-recommend-wrapper .project-recommend-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}

.classification-wrapper {
  margin-top: 50px;
  display: flex;
  
}

.project-info-wrapper {
  width: 60%;
  position: relative;
}

.project-info-wrapper .project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.project-info-wrapper .project-title-ja {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
}

.project-info-wrapper .project-exp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  font-size: 15px;
  font-weight: 500;
}

.project-info-wrapper .project-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 40%;
  background-color: #D9D9D9;
}

.project-button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.reinforcement-wrapper {
  display: flex;
  margin-top: 50px;
}


/* YoutubeRecommend */
.youtube-wrapper {
  margin-top: 100px;
  padding: 0px 60px;
}

.youtube-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
}

.youtube-info-wrapper {
  display: flex;
  margin-top: 50px;
}

.youtube-info {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.youtube-info .info-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.youtube-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.youtube-field {
  width: 50%;
  background-color: #D9D9D9;
}

/* UpDatesRecommend */

.update-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0px 60px;
}

.update-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
}

.update-info {
  margin-top: 30px;
}

.update-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.update-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.update-list {
  margin-top: 50px;
  height: 200px;
  overflow: auto;
}

.update-tile {
  width: 95%;
  height: 60px;
  margin-bottom: 5px;
  background-color: #D9D9D9;
}

.update-list::-webkit-scrollbar {
  background: #D9D9D9;
  width: 10px;
  border-radius: 20px;
}

.update-list::-webkit-scrollbar-thumb {
  background-color: #90CD7A;
  border-radius: 20px;
}

/* Footer */

.footer-wrapper {
  height: 150px;
  background-color: #D9D9D9;
}