/* main */

.profile-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
}

.profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: calc(100vh - 65px); */
  height: 100vh;
}

/* ProfileField */

.profile-field-wrapper {
  margin-top: 30px;
  position: relative;
  width: 700px;
  /* height: 550px; */
  height: 580px;
  background-color: #F3F3F3;
  border-radius: 20px;
}

.profile-field-wrapper .profile-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-field-wrapper .profile-title p {
  padding-top: 5px;
  font-size: 35px;
  font-weight: 500;
  color: #BDBDBD;
}

.profile-field-wrapper .profile {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

.profile-field-wrapper .profile .profile-left {
  width: 270px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-field-wrapper .profile .profile-left .picture-field {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #D9D9D9;
  overflow: hidden;
  /* border: 5px solid #F0B927; */
}

.profile-field-wrapper .profile .profile-right {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 330px;
  height: 200px;
  padding-left: 30px;
}

.profile-field-wrapper .profile .profile-right .profile-info .user-name {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 10px;
  color: #5C5C5C;
}

.profile-field-wrapper .profile .profile-right .profile-info .registration-date {
  font-size: 20px;
  font-weight: 500;
  color: #5C5C5C;
}

.profile-project-list-wrapper {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  /* width: 100%; */
  height: 270px;
  border-radius: 15px;
  border: 3px solid #A9A9A9;
}

.project-list-header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background: linear-gradient(91.27deg, #C49EFF 0.37%, #47A1FF 99.56%);
  border: 5px solid white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.project-list-header .project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100%;
  border-right: 5px solid white;
}

.project-list-header .project-header p {
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.project-list-header .rank-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.project-list-header .rank-header p {
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.project-list-field {
  margin-top: 60px;
  overflow: auto;
  height: 205px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}

.favorite-button-wrapper {
  position: absolute;
  top: 80px;
  left: 80px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.favorite-button-wrapper p {
  color: white;
}

.favorite-button-wrapper .check-svg {
  width: 20px;
  height: 20px;
}

.logout-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ParticipationTile */

.participation-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  border-bottom: 5px solid white;
}

.participation-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100%;
  border-right: 5px solid white;
}

.participation-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}

.participation-wrapper p {
  color: #5C5C5C;
  font-size: 30px;
  font-weight: 500;
}