.create-field-border {
  width: 906px;
  height: 506px;
  background: linear-gradient(to bottom, #C39DFF, #459FFF), #E5E5E5;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 3px;
}

.create-field-wrapper {
  position: relative;
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  /* margin-top: 130px; */
}

.create-name-field {
  margin-left: 90px;
  width: 720px;
  height: 150px;
}

.create-dataset-field {
  margin-left: 90px;
  width: 720px;
  height: 250px;
}

.create-button-field {
  margin-left: 90px;
  width: 720px;
  height: 100px;
}

.create-button-position {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 100%;
}

.delet-button-field {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 20px;
  right: 20px;
}