.model-tile-wrapper {
  width: 100%;
  height: 300px;
  background-color: rgb(80, 166, 255, 0.15);
  border-bottom: 3px solid white;
}

.model-title-field {
  display: flex;
  height: 70px;
}

.model-check-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
}

.model-check-box {
  width: 25px;
  height: 25px;
  background-color: #C2DBF4;
}

.model-title {
  display: flex;
  align-items: center;
  width: calc(100% - 610px);
}

.model-title p {
  font-size: 30px;
}

.model-accuracy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
}

.model-accuracy p {
  font-size: 20px;
}

.model-loss {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.model-loss p {
  font-size: 20px;
}

.model-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.model-date p {
  font-size: 20px;
}

.model-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.graph-field {
  margin: 0 100px 0 80px;
}

.graph-field p {
  font-size: 25px;
  color: #575757;
}