.screen-field-wrapper {
  display: flex;
  width: calc(100% - 20px);
  height: calc(100vh - 100px);
  margin: 0px 10px 10px 10px;
}

.left-screen {
  width: calc(100% - 610px);
}

.right-screen {
  margin-left: 10px;
  width: 600px;
}

.top-screen {
  margin-bottom: 10px;
  height: calc(50% - 5px);
}

.bottom-screen {
  height: calc(50% - 5px);
}